@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Montserrat:400,600|Nothing+You+Could+Do');
@import './../abstracts/variables';

h1, h2 {
  font-family: $fontType1;
}
h3, h4 {
  font-family: $fontType3;
  font-weight: bold;
}
h5, h6, p, span {
  font-family: $fontType2;
}
h5, h6 {
  font-weight: 600;
}