.spectre-face-3d {
  min-height: 100vh;
  min-width: 100vh;
}
.intro {
  background-color: red;
}
.tecnologies-frontend {
  background-color: blue;
}
.tecnologies-backend {
  background-color: yellow;
}
.projects {
  background-color: green;
}
.bio {
  background-color: purple;
}
.contact {
  background-color: orange;
}
